body {
    background: #121212;
    color: white;
    
    font-family: Arial, sans-serif;
    
    margin: 0;
    padding-left: 20px;
}

.note {
    background: #1e1e1e;
    padding: 10px;
    margin: 15px 0;
    border-radius: 8px;
}

.note-form {
    display: flex;
    flex-direction: column;
    gap: 10px;

    max-width: 500px;
}

.note-form input,
.note-form textarea {
    padding: 18px;
    font-size: 16px;
}

.note-form textarea {
    min-height: 120px;
    resize: vertical;
}