<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>duck-notes</title>
    <link rel="stylesheet" href="/static/style.css">
    <link rel="icon" href="/static/favicon.ico">

</head>
<body>
    <h1>Hello, {{ name }}</h1> 
    <hr>
    {% for note in notes %}
    <div class="note">
        <h2>{{ note.title }}</h2>
        <p>{{ note.content }}</p>
    </div>
    {% endfor %}
    <form action="/add" method="POST">
        <div class="note-form">
            <label for="title">Title</label>
            <input id="title" name="title">

            <label for="content">Content</label>
            <textarea id="content" name="content"></textarea>

            <button type="submit">Save</button>
        </div>
    </form>
</body>
</html>
